@charset "UTF-8";

 
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-pause:before { content: '\2389'; } /* '⎉' */
.icon-stop:before { content: '\25aa'; } /* '▪' */
.icon-play:before { content: '\25b6'; } /* '▶' */
.icon-cog-alt:before { content: '\26ef'; } /* '⛯' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-eye:before { content: '\e70a'; } /* '' */
.icon-eye-off:before { content: '\e70b'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */