@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: xx-large;
    text-decoration-line: underline;
}

hr {
    background-color: #ff4500;
}

.calculator {
    padding: 1em;
    background-color: #f5f5f5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.grid-container {
    border: solid 2px #000;
    display: inline-grid;
}

.grid-item {
    text-align: center;
    color: white;
    margin:0.2em;
}

.display {
    width: 97%;
    height: 2em;
    text-align: right;
    border: 1px dashed #ff4500;
    border-radius: 3px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: large;
    background-color: white;
}

.grid-item input {
    width: 15%;
    height: 2em;
    border: 1px dashed #ff4500;
    border-radius: 3px;
    padding: 0em;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: large;
    background-color: white;
    text-align: center;
}

    .grid-item input:hover {
        background: #ff4500;
    }

.grid-container :last-child input {
    width: 7em;
}

footer {
    position: absolute;
    top:90%;
}

@media screen and (max-width: 666px) {

    .calculator {
        position: relative;
        top: 40%;
        text-align: center;
    }

    .grid-container :nth-child(6) {
        display: none;
    }

    .grid-item :first-child {
        display: none;
    }

    .grid-container :last-child :first-child {
        display: inline-block;
    }

}
