@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/*хедер и футер*/

.icon {
	font-family: WebSymbolsLigaRegular;
	font-size: 20px;
	color: #ffa500;
}
.clear:after {
	content: "";
	display: block;
	clear: both;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: top right no-repeat border-box url(../img/backgroundfull.jpg);
	background-size: cover;
	overflow: hidden;
	height: 100%;
}

::-webkit-scrollbar-button {
	background-image: url('');
	background-repeat: no-repeat;
	width: 10px;
	height: 0px
}

::-webkit-scrollbar-track {
	background-color: #f5f5f5;
	border-radius: 10px;
	overflow: hidden;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #ff4500;
	border: 1px dashed black;
}

::-webkit-resizer {
	background-image: url('');
	background-repeat: no-repeat;
	width: 7px;
	height: 0px
}

::-webkit-scrollbar {
	width: 15px;
}

.wrapper {
	margin: 2.5%;
	overflow: hidden;
	height: 96%;
}

header {
	width: 100%;
	display: inline-block;
}

	header a {
		display: inline-block;
		float: left;
		background-color: white;
		opacity: 0.8;
		border-bottom: none;
		border: 1px dashed #ff4500;
		border-radius: 10px;
		margin: 0.2em 0.2em;
		padding: 0.3em 0.3em;
		font-family: "fontello";
		font-style: normal;
		font-weight: normal;
		font-size: larger;
	}

		header a:hover {
			color: #ff4500;
			border: 1px dashed black;
		}

#logotipe {
	background-image: url(../img/sindieoranfull.png);
	background-size: cover;
	width: 4em;
	height: 2.3em;
	padding: 0.5em 0.5em;
}

	#logotipe:hover {
		background-image: url(../img/sindieblackfuii.png);
	}

.topmenu {
	position: relative;
	display: inline-block;
}

.submenu {
	position: absolute;
	top:91%;
	visibility: hidden; 
	opacity: 0;
}

	.submenu a {
		display: block;
		background-color: white;
		border-bottom: none;
		border: 1px dashed #ff4500;
		border-left: 0.5em solid #ff4500;
		border-radius: 10px;
		margin: 1px;
		margin-left: 0.2em;
		padding: 0.2em;
		overflow: hidden;
		font-family: 'Indie Flower', cursive;
		font-weight: bold;
	}

nav li:hover > .submenu {
	visibility: visible;
	opacity: 1;
	z-index: 1;
}

.networkmenu {
	float: right;
	display: inline-block;
}

	.networkmenu li {
		float: left;
		display: inline;
	}

.check-in {
	float: right;
}

.check-in-button {
	float: right;
	background-color: #f5f5f5;
	border-bottom: none;
	border: 1px dashed #ff4500;
	border-radius: 10px;
	margin: 0.2em;
	margin-left: 0.2em;
	padding: 0.7em;
	opacity: 0.8;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	font-size: large;
}

button:hover {
	border: 1px dashed black;
	border-radius: 5px;
	background-color: #ff4500;
}

/*содержимое форм*/

form {
	max-width: 350px;
	padding: 20px;
	background-color: white;
	border: 0.2em dashed #ff4500;
	border-radius: 10px;
	font-family: 'Indie Flower', cursive;
	font-size: large;
	position: absolute;
	z-index: 1;
	left: 2em;
	top: 2em;
}

legend {
	padding: 4px 4px;
	font-weight: bolder;
	color: #ff4500;
}

.time {
	position: initial;
	float: left;
	display: inline;
	max-width: 7em;
	background-color: white;
	opacity: 0.8;
	border-bottom: none;
	border: 1px dashed #ff4500;
	border-radius: 10px;
	margin: 0.2em;
	margin-left: 0.2em;
	padding: 0em;
}

	.time input {
		max-width: 6em;
	}

	input:required:invalid {
		border: 2px solid red;
	}

em {
	font-weight: bold;
	font-style: normal;
	color: red;
}

input, textarea {
	width: 18em;
	height: 1em;
	margin: 0.2em;
	padding: 0.1em;
	background-color: #f5f5f5;
	border: 1px dashed black;
	border-radius: 3px;
}

label {
	width: 5em;
	display: inline-block;
}

input[type=submit] {
	width: 6em;
	height: 2em;
	border: 1px dashed #ff4500;
	border-radius: 3px;
	margin: 0.2em 0.2em;
	padding: 0.2em 0.2em;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
}

	input[type=submit]:hover {
		background: #ff4500;
	}

.registr {
	width: 6em;
	height: 2em;
	border: 1px dashed #ff4500;
	border-radius: 3px;
	margin: 0.2em 0.2em;
	padding: 0.2em 0.2em;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
}

/*содержимое футера*/
footer {
	height: 4%;
}

.footer a {
	display: inline-block;
	background-color: white;
	float: left;
	border-bottom: none;
	border: 1px dashed orangered;
	border-radius: 5px;
	margin: 0.1em 0.1em 0.1em 0.1em;
	padding: 0.1em;
	opacity: 0.8;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
}

	.footer a:hover {
		color: orangered;
		border: 1px dashed black;
	}

.footer p {
	float: right;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
}

/*Media*/
@media screen and (max-width: 1366px) {
	body {
		background-image: url(../img/background1280.jpg);
		background-size: 1366px auto;
	}
	#logotipe {
		background-image: url(../img/sindieoran136.png);
	}
		#logotipe:hover {
			background-image: url(../img/sindieblack136.png);
		}

}

@media screen and (max-width: 666px) {
	.check-in-button {
		padding: 0.3em;
	}

	.time {
		display: none;
	}
}

	@media screen and (max-width: 480px) {
		body {
			background-image: url(../img/background480.jpg);
			background-size: 480px 800px;
		}

		.footer{
			display:none;
		}

	}
